VITE_SUPABASE_URL=https://rldchcmnlszcawdbynjd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsZGNoY21ubHN6Y2F3ZGJ5bmpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMzI1NDIsImV4cCI6MjA5OTYwODU0Mn0.YYuIw3P71PPTy2Kn6rRprwP_rRbC9xyySlgoNoDyXBQ
